In [266]:
# Let's import the pandas library
import pandas as pd
# as well as the Numpy library
import numpy as np

In [267]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1. READING DATA

In [268]:
# reading cell geo description
# creating header for consistency
url_cell_geo_description = '/content/cells_geo_description.xlsx'
cell_geo_header = cell_geo_description['Column name'].values
cell_geo_header
# telcom_data_1
# telcom_data_2
# telcom_data_3

array(['VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME',
       'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_CODE'],
      dtype=object)

In [269]:
#cell geo
#use delimeter as value separator

url_cell_geo = '/content/cells_geo.csv'
cell_geo = pd.read_csv('/content/cells_geo.csv', delimiter=";", index_col = 0)
cell_geo.columns = cell_geo_header
cell_geo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 11 columns]

In [270]:
# reading daily telcom data
# creating header for consistency
url_telcom_description = pd.read_excel('/content/CDR_description.xlsx')
telcom_header = telcom_description['Column name'].values
telcom_header

array(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype=object)

In [271]:
# telcom_header
# day one data
url_telcom_data_1 = '/content/Telcom_dataset.csv'
# failed because of it performes matching not assignment
telcom_data_1 = pd.read_csv(url_telcom_data_1)
telcom_data_1.columns = telcom_header
telcom_data_1

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [272]:
# day two data
url_telcom_data_2 = '/content/Telcom_dataset2.csv'
telcom_data_2 = pd.read_csv(url_telcom_data_2)
telcom_data_2.columns = telcom_header
telcom_data_2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [273]:

# day three data
url_telcom_data_3 = '/content/Telcom_dataset3.csv'
telcom_data_3 = pd.read_csv(url_telcom_data_3)
telcom_data_3.columns = telcom_header
telcom_data_3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

2. Cleaning data

In [274]:
# lowercasing column names

# telcom dataset columns
telcom_header = [
    'PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT','DW_B_NUMBER_INT', 'COUNTRY_A', 
    'COUNTRY_B', 'CELL_ID', 'SITE_CODE']
telcom_data_1.columns = map(str.lower, telcom_header)
telcom_data_2.columns = map(str.lower, telcom_header)
telcom_data_3.columns = map(str.lower, telcom_header)

# cells_geo dataset columns
cell_geo.columns = map(str.lower, cell_geo.columns)

In [275]:
cell_geo.shape;
telcom_data_1;

In [276]:
# removing CELL_ON_SITE from telcom_day dataset
telcom_data_1.drop(['cell_on_site', 'country_a', 'country_b'], axis=1, inplace=True)
telcom_data_2.drop(['cell_on_site', 'country_a', 'country_b'], axis=1, inplace=True)
telcom_data_3.drop(['cell_on_site', 'country_a', 'country_b'], axis=1, inplace=True)

In [277]:
# telcom_data_1.duplicated()
telcom_data_1.drop_duplicates()
telcom_data_2.drop_duplicates()
telcom_data_3.drop_duplicates();
# telcome_data_1

In [278]:
cell_geo.shape

(3974, 11)

In [279]:
# cell_geo.duplicated() 
cell_geo.drop_duplicates();

In [280]:
cell_geo.shape

(3974, 11)

In [281]:
# removing cell_ids that don't exist in cell geo
cell_ids_list =  cell_geo['cell_id'].values
site_ids_list =  cell_geo['site_code'].values

existing_cells = telcom_data_1.cell_id.isin(cell_ids_list)
# sum(existing_cells) # no data available 0

existing_site = telcom_data_1.site_code.isin(site_ids_list)
# sum(existing_site) # some data available 3441

telcom_data_1 = telcom_data_1[existing_site ]

In [282]:
existing_cells = telcom_data_2.cell_id.isin(cell_ids_list)
sum(existing_cells) # no data available 0
# sum(existing_cells_as_site) # no data available 0

existing_site = telcom_data_2.site_code.isin(site_ids_list)
# sum(existing_site) # some data available 3348

telcom_data_2 = telcom_data_2[existing_site ]

In [283]:
existing_cells = telcom_data_3.cell_id.isin(cell_ids_list)
# sum(existing_cells) # no data available 0

existing_site = telcom_data_3.site_code.isin(site_ids_list)
# sum(existing_site) # some data available 3659
telcom_data_3 = telcom_data_3[existing_site ]

In [284]:
# Removing cell because there is no matching cells from telcom_data in cell geo
telcom_data_1.drop(['cell_id'],axis=1, inplace=True)
telcom_data_2.drop(['cell_id'],axis=1, inplace=True)
telcom_data_3.drop(['cell_id'],axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [285]:
cell_geo.shape

(3974, 11)

In [286]:
cell_geo.drop(['cell_id'],axis=1, inplace=True)
cell_geo.drop_duplicates();
cell_geo.shape

(3974, 10)

2. Merging datasets

In [287]:
telcom_data_all = pd.concat((telcom_data_1, telcom_data_2, telcom_data_3), ignore_index=True)
telcom_data_all

      product  value  ...  dw_b_number_int   site_code
0         sms      0  ...  1d103ea638ad1f0  1b5540c02d
1         sms      0  ...  917bc4b533ab3f3  58657f2784
2         sms      0  ...  e09e736e46c5c3d  200a092e1c
3         sms      0  ...  a5608db3e6dac07  2443d87035
4         sms      0  ...  8641284a00e5936  65a987fa51
...       ...    ...  ...              ...         ...
10443   Voice      0  ...  0ab2acd804d01fe  f7d63a29e5
10444   Voice     62  ...  4c8098eb6ea1a41  b4ddb9e93c
10445   Voice     32  ...  9d064f013e2cab2  d68260ef50
10446   Voice     30  ...  f9ff5af59cf0d68  b4130b54ab
10447   Voice     60  ...  7e60838216482a7  6d70dae094

[10448 rows x 6 columns]

In [288]:
# checking if merge was successful
telcom_data_1.shape[0] + telcom_data_2.shape[0] +  telcom_data_3.shape[0]
# 10448

10448

In [289]:
telcom_data_all.site_code.nunique()
cell_geo.site_code.nunique()

1029

In [290]:
telcom_data_all.loc[ telcom_data_all['site_code']=='1b5540c02d', :].count()

product            35
value              35
date_time          35
dw_a_number_int    35
dw_b_number_int    35
site_code          35
dtype: int64

In [291]:
# merge telcom_data only with a non duplicate site_codes
telcom_cell_data = pd.merge(cell_geo.drop_duplicates(subset=['site_code']), telcom_data_all)

In [292]:
telcom_cell_data.info()
# cell_geo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10448 entries, 0 to 10447
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   villes           10448 non-null  object
 1   status           10403 non-null  object
 2   localisation     10448 non-null  object
 3   decoupzone       10448 non-null  object
 4   zonename         10442 non-null  object
 5   longitude        10448 non-null  float64
 6   latitude         10448 non-null  float64
 7   region           10448 non-null  object
 8   area             10372 non-null  object
 9   site_code        10448 non-null  object
 10  product          10448 non-null  object
 11  value            10448 non-null  int64
 12  date_time        10448 non-null  object
 13  dw_a_number_int  10448 non-null  object
 14  dw_b_number_int  10448 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 1.3+ MB

In [293]:
# Missing values
# STATUS --> replace with "Out of Service"
sum(telcom_cell_data.status.isnull())
telcom_cell_data.status.fillna('Out of Service', inplace=True)
sum(telcom_cell_data.status.isnull())

0

In [294]:
# zonename --> derived unique combinations between region and area and draw values from that.
zonenamefillergroup = telcom_cell_data.groupby(['longitude','latitude','region','area'])

mask = telcom_cell_data.area.isnull()
empty_area = telcom_cell_data[telcom_cell_data.area.isnull()]

def replacer(row):
    org_long, org_lat, org_reg, org_area = row['longitude'] , row['latitude'],row['region'],row['area']
    for name,group in zonenamefillergroup:
        long, lat, reg, area = name[0], name[1], name[2], name[3]
        positional_difference_long = abs(long)-abs(org_long)
        positional_difference_lat = abs(lat)-abs(org_lat)
        if (positional_difference_long < 0.00001) & (positional_difference_long < 0.00001):
            return area
        
telcom_cell_data.loc[mask, ['area']] = empty_area.apply(lambda x: replacer(x), axis=1)

telcom_cell_data

         villes      status  ...  dw_a_number_int  dw_b_number_int
0        ADJAME  In Service  ...  e273a31201a46b8  4bd696f83bb5a7a
1         ABOBO  In Service  ...  a64e7590869b361  453c35930546499
2         ABOBO  In Service  ...  c49656b4296230c  2c74ce79a2e0ce0
3         ABOBO  In Service  ...  001fc5dd5e01d84  49a94622025765d
4         ABOBO  In Service  ...  bbb473f78cead2e  0307ba58c0e23aa
...         ...         ...  ...              ...              ...
10443  ZUENOULA  In Service  ...  16b18134457df0c  741ce69ff5ae71f
10444  ZUENOULA  In Service  ...  799cfb18cce4f9b  28af748b735567c
10445  ZUENOULA  In Service  ...  e4c44576789349d  65eca43003c502a
10446  ZUENOULA  In Service  ...  80b550ee361afad  21f9e5a5e35d2f0
10447  ZUENOULA  In Service  ...  05fb44a35341a8f  cbc45d65009f36c

[10448 rows x 15 columns]

In [295]:
# df_no_missing = df.dropna()
telcom_cell_data = telcom_cell_data.dropna()
telcom_cell_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10442 entries, 0 to 10447
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   villes           10442 non-null  object
 1   status           10442 non-null  object
 2   localisation     10442 non-null  object
 3   decoupzone       10442 non-null  object
 4   zonename         10442 non-null  object
 5   longitude        10442 non-null  float64
 6   latitude         10442 non-null  float64
 7   region           10442 non-null  object
 8   area             10442 non-null  object
 9   site_code        10442 non-null  object
 10  product          10442 non-null  object
 11  value            10442 non-null  int64
 12  date_time        10442 non-null  object
 13  dw_a_number_int  10442 non-null  object
 14  dw_b_number_int  10442 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 1.3+ MB

In [296]:
# traffic per city
telcom_cell_data['villes'].value_counts().head(10)

YOPOUGON        1651
ABOBO           1138
COCODY           762
ADJAME           478
KOUMASSI         452
MARCORY          447
TREICHVILLE      404
YAMOUSSOUKRO     374
DALOA            309
ATTECOUBE        304
Name: villes, dtype: int64

In [297]:
# total sales per city.
city_group = telcom_cell_data.groupby(['villes']);
city_group.agg(total_sales=('value', 'sum'), traffic=('villes', 'count')).sort_values(by=['traffic','total_sales'], ascending=[0,0]).head(10)

              total_sales  traffic
villes
YOPOUGON            41678     1651
ABOBO               22554     1138
COCODY              37911      762
ADJAME              11805      478
KOUMASSI            14701      452
MARCORY             12026      447
TREICHVILLE         13597      404
YAMOUSSOUKRO         8021      374
DALOA                6476      309
ATTECOUBE            3790      304

In [298]:
# customer spending information
telcom_cell_data['value'].describe()

count    10442.000000
mean        29.087723
std        112.062415
min          0.000000
25%          0.000000
50%          1.000000
75%         25.000000
max       6750.000000
Name: value, dtype: float64

In [299]:
# consumer spending per a villes based on each product TABLE
telcom_cell_data['value'].groupby([telcom_cell_data['villes'], telcom_cell_data['product']]).sum()

villes       product
ABENGOUROU   Voice       1731
             sms          325
ABOBO        Voice      17245
             sms         5309
ABOISSO      Voice        268
                        ...
ZON-HOUNIEN  Voice        121
ZOUKOUGBEU   Voice        188
             sms           50
ZUENOULA     Voice       1182
             sms          100
Name: value, Length: 599, dtype: int64

In [300]:
# start from here
# get product per villes, area, region, localisation
product_sales_per_villes_info = telcom_cell_data['value'].groupby([telcom_cell_data['villes']]).describe()
# high spending power over (areas to expore)
product_sales_per_villes_info.sort_values(by=['mean', 'count'], ascending=[0, 0]).head(10)

             count        mean          std  ...    50%      75%     max
villes                                       ...
SIPILOU        3.0  809.666667  1317.577449  ...   99.0  1214.50  2330.0
NIABABLY       1.0  540.000000          NaN  ...  540.0   540.00   540.0
ASSINIE        6.0  426.666667   501.427429  ...  209.5   864.75  1072.0
ZAMBAKRO       3.0  347.333333   584.347785  ...   19.0   520.50  1022.0
GONATE         2.0  291.000000   156.977705  ...  291.0   346.50   402.0
LOGOUALE       1.0  280.000000          NaN  ...  280.0   280.00   280.0
GOMENEBERI     1.0  240.000000          NaN  ...  240.0   240.00   240.0
OUALEBO        2.0  239.000000   329.511760  ...  239.0   355.50   472.0
BACANDA        2.0  220.500000   311.834091  ...  220.5   330.75   441.0
NIAMBEZARIA    2.0  210.000000    53.740115  ...  210.0   229.00   248.0

[10 rows x 8 columns]

In [301]:
# creating a rank of cities based on
# 1. average(mean) consumer spending power
sales_total_per_city = telcom_cell_data.groupby([telcom_cell_data['villes']])
sales_total_per_city.agg(mean_value=('value', 'mean'), count_services=('value', 'count')).sort_values(by=['mean_value','count_services'], ascending=[0, 0])

              mean_value  count_services
villes
SIPILOU       809.666667               3
NIABABLY      540.000000               1
ASSINIE       426.666667               6
ZAMBAKRO      347.333333               3
GONATE        291.000000               2
...                  ...             ...
TAHIRAGUHE      0.000000               1
TAOUDI          0.000000               1
TIAPOUM         0.000000               1
TORO-KINKENE    0.000000               1
YOUWASSO        0.000000               1

[398 rows x 2 columns]

In [302]:
# get site information per city
# existing site per city
cell_per_city = cell_geo.groupby(['villes']).agg(number_of_sites=('site_code', 'count'))
cell_per_city

               number_of_sites
villes
ABENGOUROU                  21
ABOBO                      255
ABOISSO                     18
ABOISSO COMOE                3
ABONGOUA                     3
...                        ...
ZATTA                        3
ZIKISSO                      4
ZON-HOUNIEN                  3
ZOUKOUGBEU                   3
ZUENOULA                     9

[504 rows x 1 columns]

In [303]:
# high site utilisation with meaningful average spending TABLES
site_utilisation_average_sale = telcom_cell_data.groupby(['villes']).agg(number_of_site_access=('site_code', 'count'), average_sale=('value', 'mean'))
site_utilisation_average_sale['site_utilisation'] = site_utilisation_average_sale['number_of_site_access'] / cell_per_city['number_of_sites']
site_utilisation_average_sale.sort_values(by=[ 'site_utilisation', 'average_sale'], ascending=[0, 0]).head(10)

             number_of_site_access  average_sale  site_utilisation
villes
MINIGNAN                        28      1.285714          9.333333
TIEBISSOU                       26     15.192308          8.666667
FRONAN                          24     29.916667          8.000000
DABOU                           89      7.865169          7.416667
DIANRA                          22     36.000000          7.333333
ATTECOUBE                      304     12.467105          6.608696
SIKENSI                         59      8.661017          6.555556
FERKE                           58     37.103448          6.444444
FADYADOUGOU                     18      8.555556          6.000000
DIEGONEFLA                      17     10.117647          5.666667